html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.container{
  max-width: 1280px;
  height: 100%;
  margin: auto; 
  padding: 0px;
}

.page{
  width: 100vw;
  height: 100vh;
}

button {
  outline: none;
  border: none; 
  padding: 10px;
  cursor: pointer;
}