.capture-screen{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap; 
    align-items: center;
}

.image-canvas{
    width: 512px;
    max-width:100%;   
    background-color: rgb(218, 209, 209);
}

.fridge-capture{
    width: 512px;
    max-width:100%;
}

.hidden{
    display: none;
}

.capture-btn{
    border-radius: 50%; 
    font-size: 30px;
    height: 50px;
    width: 50px;

}