@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.recipe-page{
    background-color:rgb(240, 223, 221);
    position: absolute;
    left:0px;
    top: 0px;
}

.recipe-images-container{
    display:flex; 
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
}

.recipe{
    background:white;
    box-shadow: 0px 5px 5px grey;
    padding: 10px;
    margin: 20px;
    font-family: "Grand Hotel", "Roboto", "Helvetica Nue";
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 30%; 

}

.recipe-title{
    text-align: center;
    font-size: 1.2rem;
    font-family: "Grand Hotel", "Roboto", "Helvetica Nue";
}

.recipe-img{
    width: 30vw !important;
    max-width: 30vw !important;
    height: auto;
}

.recipe-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.retake-img-btn{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(230, 118, 118);
    box-shadow: 0px 5px 5px rgb(53, 53, 53);
    margin-top: 20px;
    transition: all 0.3s ease;
    font-family: "Grand Hotel", "Roboto", "Helvetica Nue";
    font-size: 1.2rem;
}

.retake-img-btn:hover{
    transform: translateX(-2px);
    background-color: rgb(128, 240, 223);
}